<div>
    <h2><span class="glyphicon glyphicon-star"></span> Our Best sellers</h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr ascending="vm.reverse" callback="vm.transition()">
                <th ><span>ID</span></th>
                <th ><span>Title</span></th>
                <th ><span>Type</span></th>
                <th ><span>Review</span></th>
                <th ><span>Author</span></th>
                <th ><span>Publisher</span></th>
                <th ><span>Year</span></th>
                <th ><span>Topics</span></th>
                <th ><span>Price</span></th>

                <th><span>Number of Purchase</span></th>
                <th></th>
            </tr>
            </thead>
             <tbody>
             <tr ng-repeat="purchase in vm.topPurchase track by purchase.document.id">
                 <p>{{purchase}}</p>
                 <td><a ui-sref="document-entity-detail({id:purchase.document.id})">{{purchase.document.id}}</a></td>
                 <td>{{purchase.document.title}}</td>
                 <td>{{purchase.document.type}}</td>
                 <td>{{purchase.document.review}}</td>
                 <td>{{purchase.document.author}}</td>
                 <td>{{purchase.document.publisher}}</td>
                 <td>{{purchase.document.year}}</td>
                 <td>{{purchase.document.topics}}</td>
                 <td>{{purchase.document.price}}$</td>
                 <td>{{purchase.score}}</td>
                 <td class="text-right">
                     <div class="btn-group flex-btn-group-container">
                         <button type="submit"
                                 ui-sref="document-entity-detail({id:purchase.document.id})"
                                 class="btn btn-info btn-sm"
                                 has-authority="ROLE_USER"
                         >
                             <span class="glyphicon glyphicon-eye-open"></span>
                             <span class="hidden-xs hidden-sm"></span>
                         </button>
                     </div>
                 </td>
             </tr>
            </tbody>
        </table>
    </div>
</div>
