
<div>
    <h2><span>Purchase</span> {{vm.purchase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Purchase Date</span></dt>
        <dd>
            <span>{{vm.purchase.purchaseDate | date:'medium'}}</span>
        </dd>
        <dt><span>Document</span></dt>
        <dd>
            <a ui-sref="document-entity-detail({id:vm.purchase.document.id})">{{vm.purchase.document.title}}</a>
        </dd>
        <dt has-authority="ROLE_ADMIN"><span>Client</span></dt>
        <dd has-authority="ROLE_ADMIN">
            {{vm.purchase.client.login}}
        </dd>
                <dt>Content type</dt><dd>{{vm.purchase.document.contentContentType}}</dd>
                <dt>Content size</dt><dd>{{vm.byteSize(vm.purchase.document.content)}}</dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ng-click="vm.openFile(vm.purchase.document.contentContentType, vm.purchase.document.content)" class="btn btn-primary">
        <span class="glyphicon glyphicon-file"></span>
        <span class="hidden-xs hidden-sm"> Read</span>
    </button>
</div>
