
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseLabel">Create or edit a Purchase</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.purchase.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.purchase.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_purchaseDate">Purchase Date</label>
                <div class="input-group">
                    <input id="field_purchaseDate" type="text" class="form-control" name="purchaseDate" datetime-picker="{{dateformat}}" ng-model="vm.purchase.purchaseDate" is-open="vm.datePickerOpenStatus.purchaseDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('purchaseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_document">Document</label>
            <select class="form-control" id="field_document" name="document" ng-model="vm.purchase.document" ng-options="documentEntity as documentEntity.title for documentEntity in vm.documents | orderBy:'id' track by documentEntity.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" ng-model="vm.purchase.client" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
