<div>
    <h2>Purchases</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="purchase.new" has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Purchase
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="purchaseDate"><span>Purchase Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="document.id"><span>Document</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="client.id" has-authority="ROLE_ADMIN"><span>Client</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="document.title" has-authority="ROLE_USER"><span>Contenu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchase in vm.purchases track by purchase.id">
                    <td><a ui-sref="purchase-detail({id:purchase.id})">{{purchase.id}}</a></td>
                    <td>{{purchase.purchaseDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="document-entity-detail({id:purchase.document.id})">{{purchase.document.title}}</a>
                    </td>
                    <td has-authority="ROLE_ADMIN">
                        {{purchase.client.login}}
                    </td>
                    <td>
                        <a ng-if="purchase.document.content" ng-click="vm.openFile(purchase.document.contentContentType, purchase.document.content)">open</a>
                        <span ng-if="purchase.document.content">{{purchase.document.contentContentType}}, {{vm.byteSize(purchase.document.content)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="purchase-detail({id:purchase.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="purchase.edit({id:purchase.id})"
                                    class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="purchase.delete({id:purchase.id})"
                                    class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
