<div>
    <h2>Statistics</h2>
    <div class="container-fluid">
        <h3>Keywords ranking</h3>
        <div class="col-md-4 table-responsive ">
            <h3>Global</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Keyword</span></th>
                    <th><span>Quantity</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.keywordsGlobal">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-4">
            <h3>Titles</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Keyword</span></th>
                    <th><span>Quantity</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.keywordsTitle">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-4">
            <h3>Authors</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Keyword</span></th>
                    <th><span>Quantity</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.keywordsAuthor">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-4">
            <h3>Publishers</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Keyword</span></th>
                    <th><span>Quantity</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.keywordsPublisher">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-4">
            <h3>Topics</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Keyword</span></th>
                    <th><span>Quantity</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.keywordsTopic">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <h3>Top sales</h3>
        <div class="col-md-6 table-responsive ">
            <h3>Top Authors</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Name</span></th>
                    <th><span>Number of sales</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.topAuthors">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-6">
            <h3>Top Publishers</h3>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Name</span></th>
                    <th><span>Number of sales</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in vm.topPublishers">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
