<div>
    <h2>Document</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="document-entity.new" has-authority="ROLE_PUBLISHER">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Document
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Search">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group pull-right" >
                        <span class="input-group-btn width-min" style="text-align: right; padding-top: 5px" >
                            <button class="btn btn-primary" ng-click="vm.advanced()">
                                {{vm.advancedbutton}}
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div ng-if="vm.advancedsearch">
                <form name="searchForm" class="col-xs-3 form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchTitle" id="searchTitle" placeholder="Title">
                    </div>
                </form>
                <form name="searchForm" class="col-xs-3 form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <select ng-model="vm.searchType" class="form-control" ng-options="x for x in types" id="searchType" placeholder="Type">
                        </select>
                    </div>
                </form>
                <form name="searchForm" class="col-xs-3 form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchReview" id="searchReview" placeholder="Review">
                    </div>
                </form>
                <form name="searchForm" class="col-xs-3  form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchAuthor" id="searchAuthor" placeholder="Author">
                    </div>
                </form>
                <form name="searchForm" class="col-xs-3 form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchPublisher" id="searchPublisher" placeholder="Publisher">
                    </div>
                </form>
                <form name="searchForm" class="col-xs-3 form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <input type="number" min="1900" max="2016" step="1" class="form-control" ng-model="vm.searchYear" id="searchYear" placeholder="Year">
                    </div>
                </form>
                <form name="searchForm" class="col-xs-3 form-inline" style="margin-top: 5px;">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchTopic" id="searchTopic" placeholder="Topics">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="review"><span>Review</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author"><span>Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publisher"><span>Publisher</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year"><span>Year</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="topics"><span>Topics</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span>Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content" has-authority="ROLE_ADMIN"><span>Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="documentEntity in vm.documentEntities track by documentEntity.id">
                    <td><a ui-sref="document-entity-detail({id:documentEntity.id})">{{documentEntity.id}}</a></td>
                    <td>{{documentEntity.title}}</td>
                    <td>{{documentEntity.type}}</td>
                    <td>{{documentEntity.review}}</td>
                    <td>{{documentEntity.author}}</td>
                    <td>{{documentEntity.publisher}}</td>
                    <td>{{documentEntity.year}}</td>
                    <td>{{documentEntity.topics}}</td>
                    <td>{{documentEntity.price}}$</td>
	            <td has-authority="ROLE_PUBLISHER">
                        <a ng-if="documentEntity.content" ng-click="vm.openFile(documentEntity.contentContentType, documentEntity.content)">open</a>
                        <span ng-if="documentEntity.content">{{documentEntity.contentContentType}}, {{vm.byteSize(documentEntity.content)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="document-entity-detail({id:documentEntity.id})"
                                    class="btn btn-info btn-sm"
                                    has-authority="ROLE_USER"
                                    >
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="document-entity.edit({id:documentEntity.id})"
                                    class="btn btn-primary btn-sm"
                                    has-authority="ROLE_ADMIN"
                            >
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="document-entity.delete({id:documentEntity.id})"
                                    class="btn btn-danger btn-sm"
                                    has-authority="ROLE_ADMIN"
                            >
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
