
<div>
    <h2><span>Document</span> {{vm.documentEntity.id}}</h2>
    <hr>
    <jhi-alert></jhi-alert>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.documentEntity.title}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{vm.documentEntity.type}}</span>
        </dd>
        <dt><span>Review</span></dt>
        <dd>
            <span>{{vm.documentEntity.review}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <span>{{vm.documentEntity.author}}</span>
        </dd>
        <dt><span>Publisher</span></dt>
        <dd>
            <span>{{vm.documentEntity.publisher}}</span>
        </dd>
        <dt><span>Year</span></dt>
        <dd>
            <span>{{vm.documentEntity.year}}</span>
        </dd>
        <dt><span>Topics</span></dt>
        <dd>
            <span>{{vm.documentEntity.topics}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{vm.documentEntity.price}}$</span>
        </dd>
        <dt has-authority="ROLE_ADMIN"><span>Content</span></dt>
        <dd has-authority="ROLE_ADMIN">
            <div ng-if="vm.documentEntity.content">
                <a ng-click="vm.openFile(vm.documentEntity.contentContentType, vm.documentEntity.content)">open</a>
                {{vm.documentEntity.contentContentType}}, {{vm.byteSize(vm.documentEntity.content)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="document-entity-detail.edit({id:vm.documentEntity.id})" class="btn btn-primary" has-authority="ROLE_ADMIN">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>

    <button type="button" ng-click="vm.buy()" class="btn btn-warning" has-authority="ROLE_USER">
        <span class="glyphicon glyphicon-usd"></span>
        <span class="hidden-xs hidden-sm"> Buy</span>
    </button>
</div>
