
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentEntityLabel">Create or edit a Document</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.documentEntity.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.documentEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.documentEntity.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.documentEntity.type" id="field_type" required>
                <option value="ARTICLE">ARTICLE</option>
                <option value="ESSAY">ESSAY</option>
                <option value="BOOK">BOOK</option>
                <option value="JUDGEDECISION">JUDGEDECISION</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_review">Review</label>
            <input type="text" class="form-control" name="review" id="field_review"
                    ng-model="vm.documentEntity.review"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                    ng-model="vm.documentEntity.author"
                    required />
            <div ng-show="editForm.author.$invalid">
                <p class="help-block"
                    ng-show="editForm.author.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" for="field_publisher">Publisher</label>
            <input type="text" class="form-control" name="publisher" id="field_publisher"
                    ng-model="vm.documentEntity.publisher"
                    required />
            <div ng-show="editForm.publisher.$invalid">
                <p class="help-block"
                    ng-show="editForm.publisher.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="vm.documentEntity.year"
                    required />
            <div ng-show="editForm.year.$invalid">
                <p class="help-block"
                    ng-show="editForm.year.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_topics">Topics</label>
            <input type="text" class="form-control" name="topics" id="field_topics"
                    ng-model="vm.documentEntity.topics"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.documentEntity.price"
                    required />
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setContent($file, vm.documentEntity)">
            <label class="control-label" for="field_content">Content</label>
            <div>
                <div ng-if="vm.documentEntity.content" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.documentEntity.contentContentType, vm.documentEntity.content)">open</a><br>
                    <span class="pull-left">{{vm.documentEntity.contentContentType}}, {{vm.byteSize(vm.documentEntity.content)}}</span>
                    <button type="button" ng-click="vm.documentEntity.content=null;vm.documentEntity.contentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setContent($file, vm.documentEntity)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content"
                    ng-model="vm.documentEntity.content"
                     />
            <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                    ng-model="vm.documentEntity.contentContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
