<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <div ng-switch="vm.isAuthenticated()">
                <div ng-switch-when="true">
                    <h1>Bienvenu {{vm.account.login}}, </h1>
                    <div class="alert alert-success" >
                        Vous êtes connecté !
                    </div>

                </div>

                <div ng-switch-when="false">
                    <h1>Bienvenu, Connectez vous</h1>
                    <div class="alert alert-warning" >
                    Vous n'avez pas encore de compte ? <a class="alert-link" ui-sref="register">Créez le votre !</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
